// These colors are specific to the theme. Do not use in a package!

// Main colors
@cyan: #00ffff;
@black: #000000;
@blue: #0000ff;
@gray: #808080;
@green: #00ff00;
@magenta: #ff00ff;
@red: #ff0000;
@white: #ffffff;
@yellow: #ffff00;

// Light colors
@light-gray: #c0c0c0;

// Dark colors
@dark-cyan: #008080;
@dark-magenta: #800080;
@dark-blue: #000080;
@dark-yellow: #808000;
@dark-green: #008000;
@dark-red: #800000;

// Extra colors
@brown: #a52a2a;
@orange: #ffa500;
@pink: #ffc0cb;
@purple: #800080;


// Custom
@very-light-gray: lighten(@gray, 30%);
@dark-gray: #2f2f2f;
@very-dark-gray: #1f1f1f;
@light-black: #111111;
@blue-cyan-light: #0077ff;
@light-red: #ff2222;
@lighter-red: #ff4444;
